<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rambolu.androidactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home">
        </activity>
        <activity
            android:name=".OtherActivity"
            android:label="Other">
            <intent-filter>
                <action android:name="other_action" />
                <category android:name="other_category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".UserActivity"
            android:label="User">
        </activity>
        <activity android:name=".TestActivity" />
        <activity
            android:name=".ImageActivity"
            android:label="Image">
        </activity>
    </application>

</manifest>